<div class="stylecard">  
  <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Please enter the login details</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <form [formGroup]="loginForm">
          <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Enter the Email" formControlName="Email" [(ngModel)]="user_login.email" type="email" >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
             <input matInput placeholder="Enter the Password" formControlName="Password" [(ngModel)]="user_login.password" required  [type]="hide ? 'password' : 'text'">
             <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <div class="button">
                <button mat-button color="primary" routerLink="/registeration">Registeration</button>
                <button mat-button color="primary" routerLink="/forget_password">Forget-Password</button>   
                <button mat-button color="primary" (click)="loginUser()">Login</button>
            </div>
            </form>
      </mat-card-content>
  </mat-card>
</div>
