
// .card{
//     width: 300px;
//     margin-left: 550px;
//     margin-top: 50px; 
//     color:black
// }
.header{
    color:red;
}
.button{
    margin-right: 50px;
    color:red;
}

.stylecard{
        margin-top: 10%;
        margin-left: 40%;
        width: 25%;
        color: rgb(0, 255, 149);
}











// .card{
//     width: 200px;
//     margin-left: 550px;
//     margin-top: 100px; 
//     color:black
// }
// .header{
//     color:rgb(255, 0, 170);
//     margin-left: 45px;
//     margin-top: 50px; 
// }
// .button{
//     margin-right: 8px;
//     color:blue;
// }