<div class="style">  
  <mat-card>
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      <mat-card-subtitle>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <form [formGroup]="forgetpasswordForm">
        <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
            <input matInput placeholder="Enter the Email"formControlName="Email" [(ngModel)]="password_forget.email" type="email" >
          </mat-form-field>
        <div class="button">   
          <button mat-button color="primary" (click)="logUser()">Reset my Password</button>
        </div>
        </form>
      </mat-card-content>
  </mat-card>
</div>



<p>
  forget-password worksss!
</p>
